<section>
    <div>
        <form [formGroup]="signInFG" >
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="text" placeholder="Email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="text" placeholder="Password">
            </mat-form-field>
        </form>
        <div>
            <button (click)="signIn()">login</button>
        </div>
        <div>
            <button (click)="regiser()">rejestracja</button>
        </div>
    </div>
</section>